{% extends 'dashboard/base.html' %} {% block title %}news list page{% endblock %} {% block body %}
{% import 'dashboard/macro.html' as macro %}

<body>
    <div class="container">
        <br> {% block nav %} {{ super() }} {% endblock %}
        <div class='row clearfix'>
            <div class='col-md-12 column'>
            <caption>
                <div class="switch switch-small pull-right" >
                        <input type="checkbox" />
                </div>
                    {{format_datetime}}
                <h3><label>简书热点</label></h3>
            </caption>
                <form class="query-form" class="form-horizontal" action="/news" method="GET">
                    <!--一般hidden设置默认的参数-->
                    {{ macro.input('page', type='hidden', value='1')}}
                    {{ macro.input('search-status', type='hidden', value='')}}
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="sourceSite" class="sr-only">Search</label>
                            <input type="text" class="form-control" id="" placeholder="Search" name="keyword" value="{{condition.keyword}}">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="sourceSite" class="sr-only">source</label>
                            <select class="form-control" name="source">
                                <option value="">源站</option>
                                {% for x in source %}
                                <option value="{{ x }}" {% if x == condition.source %} selected="selected" {% endif %}>{{ x }}</option>
                                {{condition.source}}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group  col-md-2">
                        <label for="sourceSite" class="sr-only">起始日期</label>
                        <div class="input-group date form_datetime" data-date="" data-date-format="" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            <input class="form-control" size="16" type="text" value="{{condition.str_date}}" readonly name="str_date">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                    <div class="form-group  col-md-2">
                        <label for="sourceSite" class="sr-only">起始日期</label>
                        <div class="input-group date form_datetime" data-date="" data-date-format="" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            <input class="form-control" size="16" type="text" value="{{condition.str_date}}" readonly name="str_date">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                        <div class="col-md-1 pull-right">
                            <button type="submit" class="btn btn-primary">查&nbsp;&nbsp;询</button>
                        </div>
                        <div class="col-md-1 pull-right">
                            <button type="submit" name='action' value='导出csv' class="btn btn-primary">导出csv</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 column">
        <table class="table table-hover table-bordered" style="margin-bottom: 0px;">
            <caption>
                <div class="pull-right">
                    <span>记录数：<label class="text-danger">{{page["total"]}}条</label></span>
                </div>
            </caption>
            <thead>
                <tr>
                    <th>标题</th>
                    <th>作者</th>
                    <th>编辑</th>
                    <th>删除</th>
                </tr>
            </thead>

            <tbody>
                {%for new in page["items"]%}
                <tr>
                    <td>
                        <h5><a href="{{url_for('dashboard.get_news_list')}}{{new.link_id}}">{{new.title}}</a></h5>
                    </td>
                    <td>
                        {{new.author}}
                    </td>
                    <td>
                        <a class='edit' data-trigger="" href="{{ url_for('dashboard.get_news_list') }}{{new.link_id}}/edit">edit</a>
                    </td>
                    <td>
                        <a class='delete' data-trigger="confirm" href="{{ url_for('dashboard.get_news_list') }}{{new.link_id}}/delete">delete</a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
            </div>
        </div>
        <div class="row clearfix">
            <!-- 分页, 此部分可看为传递具体页面参数到后台-->
            <nav style="text-align: center">
                <ul class="pagination">
                    {% if page.previous %}
                    <li>
                        <a href="javascript:search('{{page.previous}}')" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %} {%if page.range and page.range[0] > 1%}
                    <li><a href="javascript:search('1')">1</a></li>
                    <li><a href="javascript:;">...</a></li>
                    {%endif%} {%for i in page.range %}
                    <li class="{%if page.cur_page==i %}active{%endif%}"><a href="javascript:search('{{i}}')">{{i}}</a></li>
                    {%endfor%} {%if page.range and page.range[-1]
                    < page.page_count %} <li><a href="javascript:;">...</a></li>
                        <li><a href="javascript:search('{{page.page_count}}')">{{page.page_count}}</a></li>
                        {%endif%} {% if page.next %}
                        <li>
                            <a href="javascript:search('{{page.next}}')" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</body>
{% endblock %} {% block script %} {{ super() }}
<script type='text/javascript'>
// 这里相当于自动提交
function search(page) {
    // 相当于点击某个链接页
    // 这里可以接受一个或者多个参数
    // 设置value
    $("input[name='page']").val(page);
    // 执行表单自动提交
    // 由condition保留一些搜索历史
    $(".query-form").submit();
};
    $(".form_datetime").datetimepicker({
        format: "yyyy-mm-dd",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left",
        language: "zh-CN",
        minView: 2,
    });
$('.switch').on('switch-change', function(e, data){
    var sts = data.value;
    if (sts){
      $('form').css('display', 'none');
      $('input[name="search-status"]').attr('name', sts)
    }
    else {
      $('form').css('display', 'block');
      $('input[name="search-status"]').attr('name', sts)
    }
});
$('.delete').click(function() {
    var title = this.parentElement.parentElement.children[0].textContent;
    $(this).scojs_confirm({
        content: 'Do you want to delete ' + title,
    });
});
// 加载列表页面
// $(function(){
//   var data = {
//     now: Date.now(),
//     page: $('id-page').val(),
//   };
//   $.ajax({
//     url: '/api/news',
//     type: 'GET',
//     data: data,
//     dataType: 'json',
//     success: function(r){
//       var items = r.ret.items;
//       var t = '';
//       for (var i=0; i<20;i++){
//         console.log(items[i]['title']);
//         t += '<h4><a href="/news/{0}">{1}</a>--{2}'.format([items[i]['url'].split('/')[4], items[i]['title'], items[i]['author']])
//       };
//       $('.items').html(t);
//     }
//   })
// })

// String.prototype.replaceAll = function (exp, newStr) {
// return this.replace(new RegExp(exp, "gm"), newStr);
// };
// /**
//  * 原型：字符串格式化
//  * @param args 格式化参数值
//  */
// String.prototype.format = function(args) {
//     var result = this;
//     if (arguments.length < 1) {
//         return result;
//     }
//     var data = arguments; // 如果模板参数是数组
//     if (arguments.length == 1 && typeof (args) == "object") {
//         // 如果模板参数是对象
//         data = args;
//     }
//     for ( var key in data) {
//         var value = data[key];
//         if (undefined != value) {
//             result = result.replaceAll("\\{" + key + "\\}", value);
//         }
//     }
//     return result;
// }
</script>
{% endblock %}

</html>
