{% extends 'dashboard/base.html' %}

<head>
    <meta charset="utf-8"> {% block title %}edit page{% endblock %} {% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='dashboard/css/bootstrap.min.css')}}" />
    <script type="text/javascript" src="{{url_for('static', filename='dashboard/js/jquery-2.2.3.min.js')}}"></script>
    <script src="//cdn.ckeditor.com/4.6.1/standard/ckeditor.js"></script>
    <!-- <script src="//cdn.ckeditor.com/4.4.6/standard/ckeditor.js"></script> -->
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <style type="text/css">

    </style>
    {% endblock %}
</head>
{% block body %}

<body>
    <div class="container">
        <br> {% block nav %} {{ super() }} {% endblock %}
        <br>
        <div class='row clearfix'>
            <div class='col-md-12 column'>
                <form action='' method='POST'>
                    <div class='form-group'>
                        <label> 标题: </label>
                        <input class='form-control' name='title' value='{{qs.title}}'>
                    </div>
                    <div class='form-group'>
                        <label> 作者: </label>
                        <input class='form-control' name='author' value='{{qs.author}}'>
                    </div>
                    <div class='form-group'>
                        <label> 来源: </label>
                        <input class='form-control' name='url' value='{{qs.url}}'>
                    </div>
                    <input type='hidden' name='edit' value='1'>
                    <input type='hidden' name='content' value='1'>
                    <!--name form表单数据提交参数修改-->
                    <!--todo富文本编辑器, 从flask获取的数据带有格式, 需要和编辑器进行匹配-->
                    <!-- <script id="editor" type="text/plain"></script> -->
                    <!--ckeditor-->
                    <textarea name="" id="content" class="ckeditor" rows="" cols="">
                        {{qs.content}}
                    </textarea>
                    <button type='button'>保存</button>
                </form>
            </div>
        </div>
</body>
{% endblock %} {% block script %}
<script type="text/javascript">
console.log('{{qs.title}}');
var editor = CKEDITOR.replace('content', {
    filebrowserUploadUrl: '/ckupload/',
});
$('button').click(function() {
    $('input[name="content"]').val(editor.getData());
    $('form').submit();
});
//实例化编辑器
//建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
//var ue = UE.getEditor('editor', {
//    toolbars: [
//      ['fullscreen', 'source', 'undo', 'redo', 'bold']
//    ],
//    // readonly: true, // 编辑区域是只读的
//    serverUrl: "/upload/",
//    autoHeightEnabled: true,
//    autoFloatEnabled: true
//});
//ue.ready(function(){
//  // ue.setContent('{{qs.title}}', true);
//  // ue.execCommand('insertHtml', '{{qs.title|safe}}');
//  // $(ue.body).text('{{qs.title}}');
//  // var ct = ue.getPlainTxt('{{qs.title}}');
//  // ue.setContent(ct, true);
//  $(ue.body).append('{{qs.title}}');
//});
//ue.execCommand('html');
</script>
{% endblock %}

</html>
