amqp==1.4.9
anyjson==0.3.3
appnope==0.1.0
APScheduler==2.1.2
astroid==1.4.8
attrs==16.3.0
backports-abc==0.5
backports.functools-lru-cache==1.3
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.4.1
billiard==3.3.0.23
blinker==1.4
bs4==0.0.1
celery==3.1.19
certifi==2016.9.26
chardet==2.3.0
cheat==2.1.27
configparser==3.5.0
constantly==15.1.0
contextlib2==0.5.4
coverage==4.0.3
cssselect==1.0.0
decorator==4.0.10
Django==1.8
django-tinymce==2.4.0
docopt==0.6.2
enum34==1.1.6
Flask==0.10.1
Flask-HTTPAuth==3.2.1
Flask-Login==0.3.2
Flask-Mail==0.9.1
flask-mongoengine==0.7.4
flask-profiler==1.2
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.13.1
gevent==1.1.2
gnureadline==6.3.3
greenlet==0.4.11
gunicorn==19.4.1
incremental==16.10.1
ipython==4.0.0
ipython-genutils==0.1.0
isort==4.2.5
itsdangerous==0.24
Jinja2==2.8
kombu==3.0.37
lazy-object-proxy==1.2.2
lxml==3.7.0
MarkupSafe==0.23
mccabe==0.5.3
mongoengine==0.10.6
MySQL-python==1.2.5
pathlib2==2.1.0
pbr==1.10.0
pep8==1.7.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==2.3.0
prompt-toolkit==1.0.9
ptyprocess==0.5.1
pyasn1==0.1.9
pyasn1-modules==0.0.8
pyflakes==1.3.0
Pygments==2.1.3
pylint==1.6.4
pymongo==3.1.1
pyOpenSSL==0.13
pypinyin==0.9.4
pytesseract==0.1.6
pytz==2016.10
queuelib==1.4.2
raven==5.32.0
redis==2.10.5
requests==2.2.1
Scrapy==1.0.3
selenium==2.53.1
service-identity==16.0.0
shadowsocks==2.8.2
simplegeneric==0.8.1
simplejson==3.8.1
singledispatch==3.4.0.3
six==1.5.2
SQLAlchemy==1.1.4
stevedore==1.19.1
tornado==4.4.2
traitlets==4.3.1
Twisted==16.6.0
vboxapi==1.0
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
w3lib==1.16.0
wcwidth==0.1.7
Werkzeug==0.11.11
wrapt==1.10.8
WTForms==2.1
zope.interface==4.3.3
